body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
  }
  
  .header {
    background-color: #1f1f1f;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .header nav li {
    margin: 0 20px;
  }
  
  .header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .header nav a:hover {
    color: #009879;
  }
  
  .liderazgo-container {
    padding: 80px 20px 20px;
    text-align: center;
  }
  
  .styled-table {
    margin: 25px auto;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #2e2e2e;
  }
  
  .styled-table tbody tr:nth-of-type(odd) {
    background-color: #1f1f1f;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  .home {
    text-align: center;
    padding: 80px 20px;
  }
  
  .home h1 {
    font-size: 36px;
    margin-bottom: 20px;
    padding-top: 60px; /* Ajuste para compensar el header fijo */
  }